HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/docs/0-modulith.md
/docs/1-requisitos-e-historias.md
/docs/2-arquitetura-ddd.md
/docs/3-estrutura-projeto.md
/docs/4-apis-e-integracao.md
/docs/5-deployment-e-infraestrutura.md
/docs/6-spike-cdn-fake.md
/docs/README.md
/docs/SOAT Tech Challenge Fast Food - FASE 1.md
/docs/SOAT Tech Challenge Fast Food - FASE 1.pdf
/docs/todo.md
